*{
    margin: 0;
    padding: 0;
}
body,html{
    width: 100%;
    height: 100%;
}
#app{
    background-color: white;
    padding:20px;
    border-radius: 12px;
    // width: 97%;
    height: 100%;
    overflow:hidden;
}