<template>
    <div id="app">
        <el-tabs v-model="activeName" type="card" @tab-click="handleClick">
            <!-- 账目清单 -->
            <el-tab-pane label="账目清单" name="first" class="one">
                <header>
                    <!-- 日期筛选 -->
                    <el-date-picker v-model="value2" type="daterange" align="right" unlink-panels range-separator="至"
                        start-placeholder="开始日期" end-placeholder="结束日期" :picker-options="pickerOptions">
                    </el-date-picker>
                    <!-- 选择项目 -->
                    <select placeholder="请选择项目">
                        <option value="huiyuan">快捷记账</option>
                    </select>
                    <!-- 选择收入支出 -->
                    <select placeholder="请选择项目">
                        <option value="huiyuan">收入</option>
                        <option value="huiyuan">支出</option>
                    </select>
                    <!-- 输入框 -->
                    <el-input placeholder="请输入项目名称" v-model="input" clearable></el-input>
                    <!-- 查询 -->
                    <el-button type="primary" round>查询</el-button>
                </header>
                <!-- 表格 -->
                <el-table :data="tableData" stripe style="width: 100%;margin-top:20px">
                    <el-table-column prop="date" label="项目名称"></el-table-column>
                    <el-table-column prop="name" label="金额"></el-table-column>
                    <el-table-column prop="address" label="支付方式"></el-table-column>
                    <el-table-column prop="address" label="时间"></el-table-column>
                    <el-table-column prop="address" label="备注"></el-table-column>
                    <el-table-column prop="address" label="操作"></el-table-column>
                </el-table>
                <!-- 分页 -->
                <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange"
                    :current-page="currentPage4" :page-sizes="[10, 20, 30, 40]" :page-size="10"
                    layout="total, sizes, prev, pager, next, jumper" :total="40" style="float:right;margin-top:15px">
                </el-pagination>
            </el-tab-pane>
            <!-- 项目管理 -->
            <el-tab-pane label="项目管理" name="second">
                <div class="head">
                    <!-- 输入框 -->
                    <el-input placeholder="请输入项目名称" v-model="input" clearable></el-input>
                    <!-- 查询新增项目 -->
                    <el-button type="primary" round>查询</el-button>
                    <el-button type="primary" round>新增项目</el-button>
                </div>
                <!-- 表格 -->
                <el-table :data="tableData" stripe style="width: 100%;margin-top:20px">
                    <el-table-column prop="date" label="项目名称"></el-table-column>
                    <el-table-column prop="name" label="操作" width="100" right></el-table-column>
                </el-table>
                <!-- 分页 -->
                <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange"
                    :current-page="currentPage4" :page-sizes="[10, 20, 30, 40]" :page-size="10"
                    layout="total, sizes, prev, pager, next, jumper" :total="40" style="float:right;margin-top:15px">
                </el-pagination>
            </el-tab-pane>
        </el-tabs>
    </div>
</template>

<script>
export default {
    data () {
        return {
            activeName: 'first',
            //分页
            currentPage1: 5,
            currentPage2: 5,
            currentPage3: 5,
            currentPage4: 4,
            // 输入框
            input: '',
            //表格内容
            tableData: [{
                date: '2016-05-02',
                name: '王小虎',
                address: '上海市'
            }, {
                date: '2016-05-04',
                name: '王小虎',
                address: '上海市'
            }, {
                date: '2016-05-01',
                name: '王小虎',
                address: '上海市'
            }, {
                date: '2016-05-03',
                name: '王小虎',
                address: '上海市'
            }],
        };
    },
    methods: {
        //分页
        handleSizeChange (val) {
            console.log(`每页 ${val} 条`);
        },
        handleCurrentChange (val) {
            console.log(`当前页: ${val}`);
        },
        handleClick (tab, event) {
            console.log(tab, event);
        }
    }
}
</script>
<style lang="scss">
/deep/ .el-tabs__item.is-active {
    color: rgb(250, 194, 2) !important;
}
/deep/ .el-tabs__item:hover {
    color: rgb(250, 194, 2) !important;
}
header {
    select {
        width: 150px;
        height: 40px;
        border-color: #dedede;
        margin-left: 15px;
    }
    .el-input {
        width: 300px;
        border-color: #dedede;
        color: #dedede;
        margin-left: 15px;
    }
    .el-button {
        background-color: #fadc4b;
        border: none;
        color: #333336;
        margin-left: 15px;
    }
}
.head {
    .el-input {
        width: 300px;
        border-color: #dedede;
        color: #dedede;
        margin-left: 15px;
    }
    .el-button {
        background-color: #fadc4b;
        border: none;
        color: #333336;
        margin-left: 15px;
    }
}
</style>