<template>
    <div class="money">
        <div class="left">
            <!-- 左上 -->
            <div class="top">
                <el-input placeholder="请输入会员姓名/手机号/宠物名" v-model="input">
                    <i slot="prefix" class="el-input__icon el-icon-search"></i>
                </el-input>
                <el-button type="primary" @click="dialogFormVisible = true" round>新增会员</el-button>
                <el-dialog title="新增会员" :visible.sync="dialogFormVisible">
                    <!-- 弹框 -->
                    <el-form :model="form">
                        <el-form-item label="会员姓名" :label-width="formLabelWidth">
                            <el-input v-model="form.name" autocomplete="off"></el-input>
                        </el-form-item>
                        <el-form-item label="手机号码" :label-width="formLabelWidth">
                            <el-input v-model="form.phone" autocomplete="off"></el-input>
                        </el-form-item>
                        <el-form-item label="性别" :label-width="formLabelWidth">
                            <el-radio v-model="radio" label="1">男</el-radio>
                            <el-radio v-model="radio" label="2">女</el-radio>
                        </el-form-item>
                        <el-form-item label="会员生日" :label-width="formLabelWidth">
                            <div class="block">
                                <el-date-picker v-model="value1" type="date" style="width:600px" placeholder="选择日期">
                                </el-date-picker>
                            </div>
                        </el-form-item>
                        <el-form-item label="联系地址" :label-width="formLabelWidth">
                            <el-input v-model="form.address" autocomplete="off"></el-input>
                        </el-form-item>
                        <el-form-item label="备注" :label-width="formLabelWidth">
                            <el-input v-model="form.beizhu" autocomplete="off"></el-input>
                        </el-form-item>
                    </el-form>
                    <div slot="footer" class="dialog-footer">
                        <el-button type="primary" @click="dialogFormVisible = false">提交</el-button>
                    </div>
                </el-dialog>
            </div>
            <!-- 左下 -->
            <div class="bottom">
                <div class="title">今日预约【待结账】</div>
                <div class="content">
                    暂无数据
                </div>
            </div>
        </div>
        <div class="right">
            <!-- 右上 -->
            <div class="top">
                <div class="tit">
                    <el-input v-model="input1" placeholder="输入条形码后按Enter键"></el-input>
                    <el-button type="primary" round @click="dialogbuy = true"
                        style="background:#fadc4b;border-color:#fadc4b">选购</el-button>
                    <!-- 弹框 -->
                    <el-dialog :visible.sync="dialogbuy" width="70%" :before-close="handleClose">
                        <!-- 标签页 -->
                        <el-tabs v-model="activeName" type="card" @tab-click="handleClick">
                            <el-tab-pane label="商品" name="first" style="padding-left:20px;height:200px">
                                <el-input placeholder="请输入名称" v-model="input">
                                    <i slot="prefix" class="el-input__icon el-icon-search"></i>
                                </el-input>
                                <el-button type="primary" round>查询</el-button>
                                <ul>
                                    <li>
                                        <div class="left">
                                            <img src="../../assets/img/logo.jpg" alt="">
                                        </div>
                                        <div class="right">
                                            <div class="tit">示例商品</div>
                                            <div class="num">500包</div>
                                            <div class="price">零售价:￥98.00</div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="left">
                                            <img src="../../assets/img/logo.jpg" alt="">
                                        </div>
                                        <div class="right">
                                            <div class="tit">示例商品</div>
                                            <div class="num">500包</div>
                                            <div class="price">零售价:￥98.00</div>
                                        </div>
                                    </li>
                                </ul>
                            </el-tab-pane>
                            <el-tab-pane label="服务" name="second" style="padding-left:20px;height:200px">
                                <el-input placeholder="请输入名称" v-model="input">
                                    <i slot="prefix" class="el-input__icon el-icon-search"></i>
                                </el-input>
                                <el-button type="primary" round>查询</el-button>
                                <ul>
                                    <li>
                                        <div class="left">
                                            <img src="../../assets/img/logo.jpg" alt="">
                                        </div>
                                        <div class="right">
                                            <div class="tit">小型犬美容</div>
                                            <div class="num">零售价:￥98.00</div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="left">
                                            <img src="../../assets/img/logo.jpg" alt="">
                                        </div>
                                        <div class="right">
                                            <div class="tit">大型犬洗澡</div>
                                            <div class="num">零售价:￥98.00</div>
                                        </div>
                                    </li>
                                </ul>
                            </el-tab-pane>
                            <el-tab-pane label="活体" name="third" style="padding-left:20px;height:200px">
                                <el-input placeholder="请输入名称" v-model="input">
                                    <i slot="prefix" class="el-input__icon el-icon-search"></i>
                                </el-input>
                                <el-button type="primary" round>查询</el-button>
                                <ul>
                                    <li>
                                        <div class="left">
                                            <img src="../../assets/img/logo.jpg" alt="">
                                        </div>
                                        <div class="right">
                                            <div class="tit">金毛001</div>
                                            <div class="num">2020-10-30</div>
                                            <div class="price">零售价:￥2000.00</div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="left">
                                            <img src="../../assets/img/logo.jpg" alt="">
                                        </div>
                                        <div class="right">
                                            <div class="tit">萨摩耶001</div>
                                            <div class="num">2020-10-30</div>
                                            <div class="price">零售价:￥2000.00</div>
                                        </div>
                                    </li>
                                </ul>
                            </el-tab-pane>
                            <el-tab-pane label="寄养" name="fourth"
                                style="padding-left:20px;width:970px;overflow:hadden;">
                                <el-table :data="tableData" stripe style="width: 100%">
                                    <el-table-column prop="name" label="用户姓名" width="120">
                                    </el-table-column>
                                    <el-table-column prop="name" label="手机号" width="120">
                                    </el-table-column>
                                    <el-table-column prop="name" label="用户姓名" width="120">
                                    </el-table-column>
                                    <el-table-column prop="name" label="宠物" width="120">
                                    </el-table-column>
                                    <el-table-column prop="name" label="寄养单价" width="120">
                                    </el-table-column>
                                    <el-table-column prop="name" label="寄养天数" width="120">
                                    </el-table-column>
                                    <el-table-column prop="name" label="应付金额" width="120">
                                    </el-table-column>
                                    <el-table-column prop="address" label="起始时间">
                                    </el-table-column>
                                </el-table>
                            </el-tab-pane>
                        </el-tabs>

                        <span slot="footer" class="dialog-footer">
                            <el-button type="primary" @click="dialogbuy = false" style="margin-top:300px" round>提交
                            </el-button>
                        </span>
                    </el-dialog>
                </div>
                <div class="content">
                    <div class="top">
                        <span>购物清单(共0件)</span>
                        <div class="r">
                            <el-button type="primary" round style="background:#fff;border-color:#ccc;color:#333"
                                @click="dialogjizhang = true">快捷记账</el-button>
                            <el-dialog title="快捷记账" :visible.sync="dialogjizhang">
                                <!-- 弹框 -->
                                <el-form :model="jizhang">
                                    <el-form-item label="项目" :label-width="formLabelWidth">
                                        <el-input v-model="jizhang.name" autocomplete="off"></el-input>
                                    </el-form-item>
                                    <el-form-item label="选择日期" :label-width="formLabelWidth">
                                        <div class="block">
                                            <el-date-picker v-model="value1" type="date" style="width:600px"
                                                placeholder="选择日期">
                                            </el-date-picker>
                                        </div>
                                    </el-form-item>
                                    <el-form-item label="类型" :label-width="formLabelWidth">
                                        <el-radio v-model="radio" label="1">收入</el-radio>
                                        <el-radio v-model="radio" label="2">支出</el-radio>
                                    </el-form-item>
                                    <el-form-item label="金额" :label-width="formLabelWidth">
                                        <el-input v-model="jizhang.money" autocomplete="off"></el-input>
                                    </el-form-item>
                                    <el-form-item label="支付方式" :label-width="formLabelWidth">
                                        <el-select v-model="value" placeholder="请选择" style="width:600px">
                                            <el-option v-for="item in options" :key="item.value" :label="item.label"
                                                :value="item.value">
                                            </el-option>
                                        </el-select>
                                    </el-form-item>
                                    <el-form-item label="备注" :label-width="formLabelWidth">
                                        <el-input v-model="jizhang.beizhu" autocomplete="off"></el-input>
                                    </el-form-item>
                                </el-form>
                                <div slot="footer" class="dialog-footer">
                                    <el-button type="primary" @click="dialogFormVisible = false">提交</el-button>
                                </div>
                            </el-dialog>
                        </div>
                    </div>
                    <!-- 表格 -->
                    <el-table :data="tableData" stripe style="width: 100%">
                        <el-table-column prop="date" label="图片" width="100">
                        </el-table-column>
                        <el-table-column prop="name" label="消费项目" width="100">
                        </el-table-column>

                        <el-table-column prop="name" label="零售价" width="100">
                        </el-table-column>

                        <el-table-column prop="name" label="折后价" width="100">
                        </el-table-column>

                        <el-table-column prop="name" label="数量" width="100">
                        </el-table-column>

                        <el-table-column prop="name" label="小计" width="100">
                        </el-table-column>

                        <el-table-column prop="address" label="操作">
                        </el-table-column>
                    </el-table>
                </div>
            </div>
            <!-- 右下 -->
            <div class="bottom">
                <div class="l">
                    <el-button type="primary" round>活动</el-button>
                </div>
                <div class="r">
                    <span>订单金额:0.00</span>
                    <el-button type="info" disabled round>去结账</el-button>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    methods: {
        handleClose (done) {
            this.$confirm('确认关闭？')
                .then(_ => {
                    done();
                })
                .catch(_ => { });
        },
        handleClick (tab, event) {
            console.log(tab, event);
        },
    },
    data () {
        return {
            activeName: 'first',
            // 多选框
            options: [{
                value: '选项1',
                label: '现金'
            }, {
                value: '选项2',
                label: '支付宝'
            }, {
                value: '选项3',
                label: '微信'
            }, {
                value: '选项4',
                label: 'pos机'
            }, {
                value: '选项5',
                label: '其他'
            }],
            value: '',
            // 日期
            pickerOptions: {
                disabledDate (time) {
                    return time.getTime() > Date.now();
                },
                shortcuts: [{
                    text: '今天',
                    onClick (picker) {
                        picker.$emit('pick', new Date());
                    }
                }, {
                    text: '昨天',
                    onClick (picker) {
                        const date = new Date();
                        date.setTime(date.getTime() - 3600 * 1000 * 24);
                        picker.$emit('pick', date);
                    }
                }, {
                    text: '一周前',
                    onClick (picker) {
                        const date = new Date();
                        date.setTime(date.getTime() - 3600 * 1000 * 24 * 7);
                        picker.$emit('pick', date);
                    }
                }]
            },
            value1: '',
            value2: '',
            // 弹框
            gridData: [{
                date: '2016-05-02',
                name: '王小虎',
                address: '上海市普陀区金沙江路 1518 弄'
            }, {
                date: '2016-05-04',
                name: '王小虎',
                address: '上海市普陀区金沙江路 1518 弄'
            }, {
                date: '2016-05-01',
                name: '王小虎',
                address: '上海市普陀区金沙江路 1518 弄'
            }, {
                date: '2016-05-03',
                name: '王小虎',
                address: '上海市普陀区金沙江路 1518 弄'
            }],
            dialogFormVisible: false,
            dialogjizhang: false,
            dialogbuy: false,
            form: {
                name: '',
                phone: '',
                address: '',
                beizhu: '',
                type: [],
            },
            jizhang: {
                name: '',
                way: '',
                money: '',
                beizhu: '',
                type: [],
            },
            formLabelWidth: '80px',
            radio: '1',


            input: '',
            input1: '',
            // 表格
            tableData: [{
                date: '2016-05-02',
                name: '王小虎',
                address: '上海市普陀区金沙江路 1518 弄'
            }, {
                date: '2016-05-04',
                name: '王小虎',
                address: '上海市普陀区金沙江路 1517 弄'
            }, {
                date: '2016-05-01',
                name: '王小虎',
                address: '上海市普陀区金沙江路 1519 弄'
            }, {
                date: '2016-05-03',
                name: '王小虎',
                address: '上海市普陀区金沙江路 1516 弄'
            }]
        }
    }
}
</script>
<style lang="scss" scoped>
/deep/ .el-tabs__item.is-active {
    color: #ffdd03 !important;
}
/deep/ .el-tabs__item:hover {
    color: #ffdd03 !important;
}
.el-button {
    background: #ffdd03 !important;
    border-color: #ffdd03 !important;
}
.money {
    overflow: hidden;
    padding-bottom: 10px;
    .left {
        width: 357px;
        float: left;
        margin-right: 15px;
        .top {
            width: 317px;
            height: 87px;
            background-color: #fff;
            margin-bottom: 15px;
            border-radius: 12px;
            padding: 20px;
            button {
                width: 100%;
                margin-top: 12px;
                background-color: #fadc4b;
                border: none;
                color: #333336;
            }
            .el-dialog button {
                width: 100px;
            }
        }
        .bottom {
            width: 357px;
            height: 410px;
            background-color: #fff;
            border-radius: 12px;
            .title {
                width: 100%;
                height: 52px;
                line-height: 52px;
                background-color: #333336;
                border-radius: 12px 12px 0 0;
                text-align: center;
                color: #fff;
                font-size: 14px;
            }
            .content {
                text-align: center;
                font-size: 14px;
                margin-top: 12px;
            }
        }
    }
    .right {
        width: 503px;
        float: left;
        .top {
            width: 771px;
            // height: 406px;
            background-color: #fff;
            margin-bottom: 15px;
            border-radius: 12px;
            padding: 20px;
            overflow: hidden;
            padding-bottom: 20px;
            .tit {
                width: 100%;
                .el-input {
                    width: 360px;
                    height: 40px;
                    margin-right: 10px;
                }
                button {
                    width: 100px;
                    color: #333336;
                }
                .el-dialog {
                    position: relative;
                    .el-tabs {
                        position: absolute;
                        // top: -40px;
                        top: 0;
                        left: 0;
                        background-color: #fff;
                        ul {
                            margin-top: 15px;
                            li {
                                width: 340px;
                                height: 120px;
                                float: left;
                                margin-right: 15px;
                                background-color: #f7f7f7;
                                list-style: none;
                                border-radius: 12px;
                                border: 1px solid #f7f7f7;
                                .left {
                                    padding: 12px 0 0 12px;
                                    width: 95px;
                                    height: 95px;
                                    float: left;
                                    img {
                                        width: 95px;
                                        border-radius: 10px;
                                    }
                                }
                                .right {
                                    padding: 12px 0 0 8px;
                                    width: 200px;
                                    height: 950px;
                                    font-size: 14px;
                                    .num {
                                        font-size: 13px;
                                        margin-top: 30px;
                                    }
                                    .price {
                                        font-size: 13px;
                                        margin-top: 5px;
                                    }
                                }
                            }
                            li:hover {
                                border: 1px solid #ffdd03;
                            }
                        }
                    }
                }
            }
            .content {
                .top {
                    width: 95%;
                    height: 30px;
                    margin-top: 10px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }
            }
        }
        .bottom {
            width: 771px;
            height: 71px;
            line-height: 71px;
            background-color: #fff;
            border-radius: 12px;
            padding: 0 20px 0 20px;
            .l {
                width: 100px;
                float: left;
                button {
                    width: 120px;
                    background-color: #fff;
                    color: #333;
                    border-color: #ccc;
                }
            }
            .r {
                width: 300px;
                float: right;
                button {
                    width: 170px;
                    margin-left: 15px;
                }
            }
        }
    }
}
</style>