<template>
    <div id="app">
        <div class="filter">
            <!-- 日期筛选 -->
            <el-date-picker v-model="value2" type="daterange" align="right" unlink-panels range-separator="至"
                start-placeholder="开始日期" end-placeholder="结束日期" :picker-options="pickerOptions">
            </el-date-picker>
            <!-- 顾客类型 -->
            <select placeholder="请选择顾客类型">
                <option value="huiyuan">会员</option>
                <option value="sanke">散客</option>
            </select>
            <!-- 输入框 -->
            <el-input placeholder="请输入内容" v-model="input" clearable></el-input>
            <!-- 查询导出 -->
            <el-button type="primary" round>查询</el-button>
            <el-button type="primary" round>导出</el-button>
        </div>
        <!-- 表格 -->
        <el-table :data="tableData" stripe style="width: 100%;margin-top:20px">
            <el-table-column prop="date" label="订单号" width="150"></el-table-column>
            <el-table-column prop="name" label="用户姓名" width="100"></el-table-column>
            <el-table-column prop="address" label="联系电话"></el-table-column>
            <el-table-column prop="address" label="订单合计"></el-table-column>
            <el-table-column prop="address" label="优惠金额"></el-table-column>
            <el-table-column prop="address" label="实付金额"></el-table-column>
            <el-table-column prop="address" label="消费时间"></el-table-column>
            <el-table-column prop="address" label="备注"></el-table-column>
            <el-table-column prop="address" label="操作"></el-table-column>
        </el-table>
        <!-- 分页 -->
        <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange"
            :current-page="currentPage4" :page-sizes="[10, 20, 30, 40]" :page-size="10"
            layout="total, sizes, prev, pager, next, jumper" :total="40" style="float:right;margin-top:15px">
        </el-pagination>
    </div>
</template>

<script>
export default {
    methods: {
        //分页
        handleSizeChange (val) {
            console.log(`每页 ${val} 条`);
        },
        handleCurrentChange (val) {
            console.log(`当前页: ${val}`);
        }
    },
    data () {
        return {
            pickerOptions: '',
            value2: '',
            //分页
            currentPage1: 5,
            currentPage2: 5,
            currentPage3: 5,
            currentPage4: 4,
            // 输入框
            input: '',
            //表格内容
            tableData: [{
                date: '2016-05-02',
                name: '王小虎',
                address: '上海市'
            }, {
                date: '2016-05-04',
                name: '王小虎',
                address: '上海市'
            }, {
                date: '2016-05-01',
                name: '王小虎',
                address: '上海市'
            }, {
                date: '2016-05-03',
                name: '王小虎',
                address: '上海市'
            }]
        }
    }
}
</script>
<style lang="scss" scoped>
.filter {
    select {
        width: 150px;
        height: 40px;
        border-color: #dedede;
        margin-left: 15px;
    }
    .el-input {
        width: 300px;
        border-color: #dedede;
        color: #dedede;
        margin-left: 15px;
    }
    .el-button {
        background-color: #fadc4b;
        border: none;
        color: #333336;
        margin-left: 15px;
    }
}
</style>