<template>
    <div class="admin">
        <!-- 导航 -->
        <div class="menu" v-bind:style="{width:menuWidth}">
            <img src="../../assets/img/logo.png" width="80">
            <!-- <el-menu v-loading="menuLoading" -->
            <el-menu active-text-color="#fac202" text-color="#d8d8d8" background-color="#2f3036" default-active="1-4-1"
                class="el-menu-vertical-demo" @open="handleOpen" @close="handleClose" :collapse="isHiddenMenu"
                :collapse-transition="false" unique-opened>
                <el-submenu index="1" id="some-element1">
                    <!-- <el-submenu index="1" > -->
                    <template slot="title">
                        <i class="el-icon-suitcase"></i>
                        <span slot="title">店铺概况</span>
                    </template>
                    <el-menu-item-group>
                        <el-menu-item index="1-1" @click="jump('/survey')"><i class="el-icon-setting"></i>店铺概况
                        </el-menu-item>
                    </el-menu-item-group>
                </el-submenu>

                <el-submenu index="2" id="some-element2">
                    <template slot="title">
                        <i class="el-icon-house"></i>
                        <span slot="title">店面业务</span>
                    </template>
                    <el-menu-item-group>
                        <el-menu-item index="2-1" @click="jump('/business/money')"><i class="el-icon-setting"></i>收银台
                        </el-menu-item>
                        <el-menu-item index="2-2" @click="jump('/business/orders')"><i class="el-icon-setting"></i>订单管理
                        </el-menu-item>
                        <!-- <el-menu-item index="2-3"><i class="el-icon-setting"></i>预约服务</el-menu-item> -->
                        <el-menu-item index="2-4" @click="jump('/business/send')"><i class="el-icon-setting"></i>寄养
                        </el-menu-item>
                        <!-- <el-menu-item index="2-5"><i class="el-icon-setting"></i>提醒</el-menu-item> -->
                        <el-menu-item index="2-6" @click="jump('/business/account')"><i class="el-icon-setting"></i>记账本
                        </el-menu-item>
                        <!-- <el-menu-item index="2-7"><i class="el-icon-setting"></i>门店营销</el-menu-item>
                        <el-menu-item index="2-8"><i class="el-icon-setting"></i>宠付宝</el-menu-item> -->
                    </el-menu-item-group>
                </el-submenu>
                <el-submenu index="3" id="some-element3">
                    <template slot="title">
                        <i class="el-icon-shopping-bag-2"></i>
                        <span slot="title">商品服务</span>
                    </template>
                    <el-menu-item-group>
                        <el-menu-item index="3-1" @click="jump('/serve/goods')"><i class="el-icon-setting"></i>商品管理
                        </el-menu-item>
                        <el-menu-item index="3-2" @click="jump('/serve/serve')"><i class="el-icon-setting"></i>服务管理
                        </el-menu-item>
                        <el-menu-item index="3-3" @click="jump('/serve/living')"><i class="el-icon-setting"></i>活体管理
                        </el-menu-item>
                    </el-menu-item-group>
                </el-submenu>

                <el-submenu index="4" id="some-element4">
                    <template slot="title">
                        <i class="el-icon-box"></i>
                        <span slot="title">库存管理</span>
                    </template>
                    <el-menu-item-group>
                        <el-menu-item index="4-1" @click="jump('/store/goods')"><i class="el-icon-setting"></i>商品库存
                        </el-menu-item>
                        <el-menu-item index="4-2" @click="jump('/store/record')"><i class="el-icon-setting"></i>出库记录
                        </el-menu-item>
                        <el-menu-item index="4-3" @click="jump('/store/enterrecord')">
                            <i class="el-icon-setting"></i>入库记录
                        </el-menu-item>
                        <!-- <el-menu-item index="4-4"><i class="el-icon-setting"></i>调拨管理</el-menu-item>
                        <el-menu-item index="4-5"><i class="el-icon-setting"></i>盘点管理</el-menu-item> -->
                    </el-menu-item-group>
                </el-submenu>

                <el-submenu index="5" id="some-element5">
                    <template slot="title">
                        <i class="el-icon-place"></i>
                        <span slot="title">会员中心</span>
                    </template>
                    <el-menu-item-group>
                        <el-menu-item index="5-1" @click="jump('/member/manage')"><i class="el-icon-setting"></i>会员管理
                        </el-menu-item>
                        <el-menu-item index="5-2" @click="jump('/member/card')"><i class="el-icon-setting"></i>会员卡
                        </el-menu-item>
                        <el-menu-item index="5-3" @click="jump('/member/times')"><i class="el-icon-setting"></i>次卡
                        </el-menu-item>
                        <!-- <el-menu-item index="5-4"><i class="el-icon-setting"></i>积分</el-menu-item>
                        <el-menu-item index="5-5"><i class="el-icon-setting"></i>会员营销</el-menu-item> -->
                    </el-menu-item-group>
                </el-submenu>

                <el-submenu index="6" id="some-element6">
                    <template slot="title">
                        <i class="el-icon-notebook-2"></i>
                        <span slot="title">数据统计</span>
                    </template>
                    <el-menu-item-group>
                        <el-menu-item index="6-1" @click="jump('/data/business')"><i class="el-icon-setting"></i>营业报表
                        </el-menu-item>
                        <el-menu-item index="6-2" @click="jump('/data/sale')"><i class="el-icon-setting"></i>营销报表
                        </el-menu-item>
                        <el-menu-item index="6-3" @click="jump('/data/userreport')"><i class="el-icon-setting"></i>用户报表
                        </el-menu-item>
                        <!-- <el-menu-item index="6-4"><i class="el-icon-setting"></i>店员报表</el-menu-item> -->
                    </el-menu-item-group>
                </el-submenu>

                <!-- <el-submenu index="7" id="some-element7">
                    <template slot="title">
                        <i class="el-icon-chat-dot-round"></i>
                        <span slot="title">微信商城</span>
                    </template>
                    <el-menu-item-group>
                        <el-menu-item index="7-1"><i class="el-icon-setting"></i>商品管理</el-menu-item>
                        <el-menu-item index="7-2"><i class="el-icon-setting"></i>线上订单</el-menu-item>
                        <el-menu-item index="7-3"><i class="el-icon-setting"></i>线上营销</el-menu-item>
                        <el-menu-item index="7-4"><i class="el-icon-setting"></i>一件代发</el-menu-item>
                        <el-menu-item index="7-5"><i class="el-icon-setting"></i>商城配置</el-menu-item>
                        <el-menu-item index="7-6"><i class="el-icon-setting"></i>公众号</el-menu-item>
                    </el-menu-item-group>
                </el-submenu> -->

                <el-submenu index="8" id="some-element8">
                    <template slot="title">
                        <i class="el-icon-setting"></i>
                        <span slot="title">店铺配置</span>
                    </template>
                    <el-menu-item-group>
                        <el-menu-item index="8-1" @click="jump('/deploy/store')"><i class="el-icon-setting"></i>店铺管理
                        </el-menu-item>
                        <el-menu-item index="8-2" @click="jump('/deploy/clerk')"><i class="el-icon-setting"></i>店员管理
                        </el-menu-item>
                        <el-menu-item index="8-3" @click="jump('/deploy/system')"><i class="el-icon-setting"></i>系统设置
                        </el-menu-item>
                        <!-- <el-menu-item index="8-4"><i class="el-icon-setting"></i>打印设置</el-menu-item> -->
                        <el-menu-item index="8-5" @click="jump('/deploy/message')"><i class="el-icon-setting"></i>短信记录
                        </el-menu-item>
                        <el-menu-item index="8-6" @click="jump('/deploy/recycle')"><i class="el-icon-setting"></i>回收站
                        </el-menu-item>
                    </el-menu-item-group>
                </el-submenu>
            </el-menu>
        </div>
        <!-- /导航 -->

        <!-- 右侧 -->
        <div class="main">
            <!-- 头部 -->
            <div class="top">
                <div class="l">
                    <div class="btn" @click="handleMenu" id="some-element9">
                        <!-- <i class="el-icon-s-unfold"></i> -->
                        <i v-bind:class="menuIcon"></i>
                    </div>
                    <div class="breadcrumb">
                        <!-- 面包屑 -->
                    </div>
                </div>
                <div class="r">
                    <span class="admin-right_name">超级管理员</span>
                    <i class="el-icon-switch-button"></i>
                    <i class="el-icon-full-screen" @click="screen"></i>
                </div>
            </div>
            <!-- /头部 -->

            <!-- 内容 -->
            <!-- <div class="content">
                <div class="box animated bounceInDown">
                    <router-view v-if="isRouterAlive"></router-view>
                </div>
            </div> -->
            <div class="content">
                <transition :duration="600" mode="out-in" appear enter-active-class="animated fadeIn"
                    leave-active-class="animated fadeOut">
                    <router-view />
                </transition>
            </div>
            <!-- /内容 -->
        </div>
    </div>
</template>

<script>
import driverStep from "@/utils/driver"


export default {
    // 新手引导
    mounted () {
        // 在mounted生命周期或方法中执行下述代码
        this.$driver.defineSteps(driverStep)
        this.$driver.start()
    },

    data () {
        return {
            //重新加载路由
            isRouterAlive: 'true',
            defineSteps: '',
            // 菜单权限
            // menuLoading:false,
            // 全屏
            fullscreen: false,
            // 是否隐藏菜单
            isHiddenMenu: false,
            // 控制菜单宽度
            menuWidth: '200px',
            menuIcon: 'el-icon-s-fold'
        }
    },
    methods: {
        // 新手引导方法
        start () {
            this.$nextTick(() => {
                this.$driver.defineSteps(driverStep)
                this.$driver.start()
            })
        },
        // 全屏
        screen () {
            let element = document.documentElement;
            if (this.fullscreen) {
                if (document.exitFullscreen) {
                    document.exitFullscreen();
                } else if (document.webkitCancelFullScreen) {
                    document.webkitCancelFullScreen();
                } else if (document.mozCancelFullScreen) {
                    document.mozCancelFullScreen();
                } else if (document.msExitFullscreen) {
                    document.msExitFullscreen();
                }
            } else {
                if (element.requestFullscreen) {
                    element.requestFullscreen();
                } else if (element.webkitRequestFullScreen) {
                    element.webkitRequestFullScreen();
                } else if (element.mozRequestFullScreen) {
                    element.mozRequestFullScreen();
                } else if (element.msRequestFullscreen) {
                    // IE11
                    element.msRequestFullscreen();
                }
            }
            this.fullscreen = !this.fullscreen;
        },

        // 控制菜单是否显示
        handleMenu () {
            this.isHiddenMenu = !this.isHiddenMenu
            this.menuWidth = this.isHiddenMenu ? '64px' : '200px'
            this.menuIcon = this.isHiddenMenu ? 'el-icon-s-unfold' : 'el-icon-s-fold'
        },
        handleOpen (key, keyPath) {
            console.log(key, keyPath);
        },
        handleClose (key, keyPath) {
            console.log(key, keyPath);
        }
    }
}
</script>
<style lang="scss" scoped>
.el-menu-vertical-demo:not(.el-menu--collapse) {
    width: 200px;
    min-height: 400px;
}
// admin
.admin {
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;

    // menu
    .menu {
        -webkit-transition: width 0.28s;
        transition: width 0.28s;
        overflow: hidden;
        height: 100%;
        text-align: left;
        background-color: #2f3036;
        border-top-right-radius: 60px;

        ul {
            border: none;
        }
    }
    // main
    .main {
        flex: 1;
        overflow-y: scroll;
        background-color: #f7f7f7;
        .top {
            width: 100%;
            height: 50px;
            box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
            background-color: white;

            .l {
                width: 300px;
                height: 100%;
                float: left;

                .btn {
                    width: 50px;
                    height: 50px;
                    font-size: 24px;
                    line-height: 50px;
                    text-align: center;
                    float: left;
                }
                .breadcrumb {
                    width: 200px;
                    height: 50px;
                    float: left;
                }
            }
            .r {
                width: 210px;
                height: 100%;
                float: right;
                font-size: 20px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-right: 20px;

                .admin-right_name {
                    font-size: 16px;
                    margin-top: -3px;
                }
                .admin-right i {
                    margin: 0 8px;
                }
                .admin-right i:hover {
                    cursor: pointer;
                }
                .el-icon-full-screen:hover {
                    color: #409eff;
                    cursor: pointer;
                }
            }
        }
        .content {
            width: 96%;
            min-height: 100px;
            margin: auto;
            margin-top: 30px;
        }
    }
}
</style>
