<template>
<div class="login">
  <div class="loginForm animated bounceInDown" >
    <!-- 标签页 -->
    <el-tabs v-model="activeName" @tab-click="handleClick">
    <!-- 登录 -->
    <el-tab-pane label="登录" name="first">
      <el-form :model="loginForm" status-icon :rules="rules" ref="ruleForm" class="demo-ruleForm">
            <!-- 用户名框 -->
            <el-form-item prop="uname">
                <el-input type="text" placeholder="请输入用户名" clearable  prefix-icon="el-icon-user" v-model="loginForm.uname" autocomplete="off"></el-input>
            </el-form-item>
            <!-- 密码框 -->
            <el-form-item prop="pwd">
                <el-input type="pwd" placeholder="请输入密码" clearable show-password prefix-icon="el-icon-lock" v-model="loginForm.pwd" autocomplete="off"></el-input>
            </el-form-item>
            <!-- 忘记密码、去注册行 -->
            <div class="el-a">
                <span> <el-checkbox v-model="checked"></el-checkbox> 记住密码</span>
                <span>忘记密码</span>
            </div>
            <!-- 按钮 -->
            <el-form-item>
                <el-button type="primary" @click="submitForm('ruleForm')">登录</el-button>
            </el-form-item>
        </el-form>
    </el-tab-pane>
    <!-- 注册 -->
    <el-tab-pane label="注册" name="second" id="Registor">
        <el-form :model="loginForm" status-icon :rules="rules" ref="ruleForm" class="demo-ruleForm">
            <!-- 用户名框 -->
            <el-form-item prop="uname">
                <el-input type="text" placeholder="请输入用户名" clearable  prefix-icon="el-icon-user" v-model="loginForm.uname" autocomplete="off"></el-input>
            </el-form-item>
            <!-- 密码框 -->
            <el-form-item prop="pwd">
                <el-input type="text" placeholder="请输入密码" clearable show-password prefix-icon="el-icon-lock" v-model="loginForm.pwd" autocomplete="off"></el-input>
            </el-form-item>
            <!-- 重复输入密码框 -->
            <el-form-item prop="pwd">
                <el-input type="text" placeholder="请重复输入密码" clearable show-password prefix-icon="el-icon-lock"  autocomplete="off"></el-input>
            </el-form-item>
            <!-- 输入手机号框 -->
            <el-form-item prop="phone">
                <el-input type="text" placeholder="请输入手机号" clearable prefix-icon="el-icon-phone" v-model="loginForm.phone" autocomplete="off"></el-input>
            </el-form-item>
            <!-- 店铺地址框 -->
            <el-form-item prop="address">
                <el-input type="text" placeholder="请输入店铺地址" clearable prefix-icon="el-icon-location-information" v-model="loginForm.address" autocomplete="off"></el-input>
            </el-form-item>
            <!-- 验证码 -->
            <el-form-item prop="yzm" class="yzm">
                <el-input type="text" placeholder="请输入验证码" clearable v-model="loginForm.yzm" autocomplete="off"></el-input>
                <el-button type="primary" class="yzmB">发送</el-button>
            </el-form-item>
            <!-- 按钮 -->
            <el-form-item>
                <el-button type="primary" @click="submitForm('ruleForm')">完成注册</el-button>
            </el-form-item>
        </el-form>



    </el-tab-pane>
  </el-tabs>
  </div>
</div>
</template>

<script>

// 导出组件数据
export default {
  data() {

    // 声明验证规则
    var checkuname = (rule, value, callback) => { // 规则、用户输入的户数、提示信息
        // 成功：callback(new Error('提示信息!'));
        // 失败：callback();
        if (value == '') {
          callback(new Error('请输入用户名'))
          return
        }
        if (value.length < 3 || value.length > 15) {
          callback(new Error('长度在 3 到 5 个字符'))
          return
        }
        callback();
    };

    // 声明模型数据
    return {
      // 声明表单数据
      loginForm: {
        uname: '',
        pwd: '',
        phone:'',
      },
      // 声明表单验证规则
      rules: {
        uname: [
          { validator: checkuname, trigger: 'blur' }
        ],
        pwd:[
          { required: true, message: '请输入密码', trigger: 'blur' },
          { min: 3, max: 15, message: '长度在 3 到 15 个字符', trigger: 'blur' }
        ],
        phone:[
          { required: true, message: '请输入手机号', trigger: 'blur' },
          { min:11,max:11, message: '请输入正确的11位手机号', trigger: 'blur' }
        ]

      },
      activeName: 'first',
      checked:false,
    };
  },
  methods: {
    submitForm(formName) {
      // 触发表单验证
      this.$refs[formName].validate((valid) => {
        // valid true  验证通过
        // valid false 验证失败
        if (valid) {
            // 提示登录成功
            const loading = this.$loading({
              lock: true,
              text: 'Loading',
              spinner: 'el-icon-loading',
              background: 'rgba(0, 0, 0, 0.7)'
            });
        }else {
          return false;
        }
      });
    },
    resetForm(formName) {
      this.$refs[formName].resetFields();
    },
    handleClick(tab, event) {
        console.log(tab, event);
    }
  }
}
</script>

<style lang="scss" scoped>
.login {
    width: 100%;
    height: 100%;
    background: #fac202;
    display: flex;
    justify-content: center;
    align-items: center;
    .loginForm {
        width: 300px;
        background:white;
        text-align: center;
        border-radius: 20px;
    }
    
    .el-tab-pane{
        margin-bottom:20px;
        margin-top:20px;
    }
    .el-form-item {
        width: 80%;
        margin-left: 30px;
    }
    .el-a{
        width:80%;
        padding-left: 30px;
        padding-bottom:10px ;
        display: flex;
        justify-content: space-between;
    }
    .el-a span{
        font-size: 10px;
    }
    .yzm .el-input{
      width: 55%;
      display: block;
      float: left;
    }
    .yzm .yzmB{
      width:40%;
      display: block;
      float:left;
      margin-left: 10px;
    }
    .el-button--primary{
        width: 240px;
        color: black;
        background-color: #fac202;
        border-color: #fac202;
    }
    
} 
</style>