<template>
    <div class="all">
        <!-- header -->
        <div class="header">
            <div class="headerL">
                <div class="headerLt"></div>
                <div class="headerLb"></div>
            </div>
            <div class="headerR">
                <!-- 轮播 -->
                <div class="banner">
                    <el-carousel height="230px">
                        <el-carousel-item v-for="item in 4" :key="item">
                            <h3 class="small">{{ item }}</h3>
                        </el-carousel-item>
                    </el-carousel>
                </div>
            </div>
        </div>
        <!-- body -->
        <div class="main">
            <div class="mainL">
                <div class="mainLt"></div>
                <div class="mainLb"></div>
            </div>
            <div class="mainR"></div>
        </div>
    </div>

</template>
<script>

</script>
<style lang="scss" scoped>
.all {
    width: 100%;
    height: 1000px;
    background: black;
}
.header {
    height: 250px;
    background-color: #b3c0d1;
    color: #333;
}
.main {
    height: 600px;
    background-color: gray;
    color: #333;
}
.headerL {
    height: 250px;
    width: 70%;
    background: red;
    float: left;
}
.headerLt {
    width: 98%;
    height: 35%;
    background: #f7f7f7;
    margin: 10px 10px;
}
.headerLb {
    width: 98%;
    height: 55%;
    background: #f7f7f7;
    margin: 10px 10px;
}
.headerR {
    height: 230px;
    width: 28%;
    background: #f7f7f7;
    float: left;
    margin: 10px 10px;
}
.mainL {
    height: 600px;
    width: 70%;
    background: red;
    float: left;
}
.mainLt {
    width: 98%;
    height: 37%;
    background: #f7f7f7;
    margin: 10px 10px;
}
.mainLb {
    width: 98%;
    height: 57%;
    background: #f7f7f7;
    margin: 10px 10px;
}
.mainR {
    height: 580px;
    width: 28%;
    background: #f7f7f7;
    float: left;
    margin: 10px 10px;
}
.headerLt,
.headerLb,
.headerR,
.mainLt,
.mainLb,
.mainR {
    border-radius: 20px;
}
.el-carousel__item h3 {
    color: #475669;
    font-size: 14px;
    opacity: 0.75;
    line-height: 150px;
    margin: 0;
}

.el-carousel__item:nth-child(2n) {
    background-color: #99a9bf;
}

.el-carousel__item:nth-child(2n + 1) {
    background-color: #d3dce6;
}
.banner {
    border-radius: 10px;
}
</style>