<template>
    <div class="details" id="app">
        <h3 class="title">单品库存详情<el-button @click="jump('/store/goods')" round>返回上一页</el-button>
        </h3>
        <div class="main">
            <ul>
                <li><span>商品名称</span><span>商品</span></li>
                <li><span>品牌</span><span>商品</span></li>
                <li><span>库存数量</span><span>商品</span></li>
                <li><span>库存总成本</span><span>商品</span></li>
                <li><span>平均成本价</span><span>商品</span></li>
                <li><span>供应商</span><span>商品</span></li>
            </ul>
        </div>
    </div>
</template>
<script>
export default {

}
</script>
<style lang="scss" scoped>
// 按钮
.el-button {
    // background-color:rgb(250, 194, 2) !important;
    border-color: #d9d9d9;
}
.el-button:hover {
    border-color: #000;
    color: #000;
    background-color: #fff;
}
/deep/.el-button {
    margin-left: 20px;
}
/deep/.el-button span:hover {
    color: #000;
}
.details {
    width: 100%;
    height: 500px;
    border-radius: 12px;
    overflow-y: hidden;
    padding: 20px;

    .main {
        width: 93%;
        height: 65px;
        background-color: #f9f9f9;
        border: 1px solid #ecebed;
        border-radius: 8px;
        margin-top: 20px;
        padding: 20px;
        ul {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            li {
                float: left;
                width: 33%;
                height: 30px;
                font-size: 14px;
                list-style: none;
                margin-bottom: 15px;
                span {
                    display: inline-block;
                    width: 100px;
                    margin-right: 20px;
                }
            }
        }
    }
}
</style>