<template>
    <div class="enter" id="app">
        <!-- 日期 -->
        <div class="block">
            <el-date-picker v-model="value2" type="daterange" align="right" unlink-panels range-separator="至"
                start-placeholder="开始日期" end-placeholder="结束日期" :picker-options="pickerOptions">
            </el-date-picker>
            <!-- 搜索 -->
            <div class="filter">
                <el-input placeholder="请输入入库单号或关联单号">
                    <el-button slot="append" icon="el-icon-search"></el-button>
                </el-input>
                <el-button type="primary" round>导出</el-button>
            </div>
        </div>

        <!-- 表格 -->
        <el-table :data="tableData" stripe style="width: 100%">
            <el-table-column prop="name" label="入库单号" width="150">
            </el-table-column>

            <el-table-column prop="name" label="入库类型" width="150">
            </el-table-column>

            <el-table-column prop="name" label="入库总计" width="150">
            </el-table-column>

            <el-table-column prop="name" label="操作人" width="150">
            </el-table-column>

            <el-table-column prop="name" label="入库时间" width="150">
            </el-table-column>

            <el-table-column prop="name" label="备注" width="160">
            </el-table-column>

            <el-table-column prop="name" label="关联单号" width="160">
            </el-table-column>

            <el-table-column prop="address" align="center" label="操作">
                <template slot-scope="scope">
                    <el-button type="primary" @click="handleDel(scope.row.goods_id)" round>详情</el-button>
                </template>
            </el-table-column>
        </el-table>

        <!-- 分页 -->
        <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange"
            :current-page="currentPage4" :page-sizes="[10, 20, 30, 40]" :page-size="10"
            layout="total, sizes, prev, pager, next, jumper" :total="40" style="float:right;margin-top:15px">
        </el-pagination>
    </div>
</template>
<script>
export default {
    methods: {
        // 分页
        handleSizeChange (val) {
            console.log(`每页 ${val} 条`);
        },
        handleCurrentChange (val) {
            console.log(`当前页: ${val}`);
            this.pagenum = val
            this.initData()
        },
    },
    data () {
        return {
            //分页
            currentPage1: 5,
            currentPage2: 5,
            currentPage3: 5,
            currentPage4: 4,
            //   表格
            tableData: [{
                date: '2016-05-02',
                name: '王小虎',
                address: '上海市普陀区金沙江路 1518 弄'
            }, {
                date: '2016-05-04',
                name: '王小虎',
                address: '上海市普陀区金沙江路 1517 弄'
            }, {
                date: '2016-05-01',
                name: '王小虎',
                address: '上海市普陀区金沙江路 1519 弄'
            }, {
                date: '2016-05-03',
                name: '王小虎',
                address: '上海市普陀区金沙江路 1516 弄'
            }],
            // 日期
            pickerOptions: {
                shortcuts: [{
                    text: '最近一周',
                    onClick (picker) {
                        const end = new Date();
                        const start = new Date();
                        start.setTime(start.getTime() - 3600 * 1000 * 24 * 7);
                        picker.$emit('pick', [start, end]);
                    }
                }, {
                    text: '最近一个月',
                    onClick (picker) {
                        const end = new Date();
                        const start = new Date();
                        start.setTime(start.getTime() - 3600 * 1000 * 24 * 30);
                        picker.$emit('pick', [start, end]);
                    }
                }, {
                    text: '最近三个月',
                    onClick (picker) {
                        const end = new Date();
                        const start = new Date();
                        start.setTime(start.getTime() - 3600 * 1000 * 24 * 90);
                        picker.$emit('pick', [start, end]);
                    }
                }]
            },
            value1: '',
            value2: ''
        };
    }
};
</script>
<style lang="scss" scoped>
/deep/ .el-range-editor.is-active,
.el-range-editor.is-active:hover {
    border-color: rgb(250, 194, 2) !important;
}
// 按钮
.el-button--primary {
    background-color: rgb(250, 194, 2) !important;
    border: 0;
}
.enter {
    .block {
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    // 筛选
    .filter {
        width: 400px;
        height: 50px;
        overflow: hidden;
        display: flex;
        justify-content: space-between;
        align-items: center;

        // 搜索框
        .el-input {
            width: 300px;
            float: left;
        }
    }
}
</style>