<template>
    <div class="goods" id="app">
        <!-- 搜索 -->
        <div class="filter">
            <el-input placeholder="请输入商品名称">
                <el-button slot="append" icon="el-icon-search"></el-button>
            </el-input>
        </div>
        <!-- 表格 -->
        <el-table :data="tableData" stripe style="width: 100%">

            <el-table-column prop="name" label="商品名称" width="150">
            </el-table-column>

            <el-table-column prop="name" label="品牌名" width="150">
            </el-table-column>

            <el-table-column prop="name" label="规格型号" width="150">
            </el-table-column>

            <el-table-column prop="name" label="平均成本价" width="150">
            </el-table-column>

            <el-table-column prop="name" label="单位" width="150">
            </el-table-column>

            <el-table-column prop="name" label="零售价" width="150">
            </el-table-column>

            <el-table-column prop="name" label="现有库存数" width="150">
            </el-table-column>

            <el-table-column prop="address" align="center" label="操作">
                <template>
                    <el-button type="primary" @click="jump('/store/details')" round>详情</el-button>
                </template>
            </el-table-column>
        </el-table>
        <!-- 分页 -->
        <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange"
            :current-page="currentPage4" :page-sizes="[10, 20, 30, 40]" :page-size="10"
            layout="total, sizes, prev, pager, next, jumper" :total="40" style="float:right;margin-top:15px">
        </el-pagination>
    </div>
</template>
<script>
export default {
    data () {
        return {
            //分页
            currentPage1: 5,
            currentPage2: 5,
            currentPage3: 5,
            currentPage4: 4,
            tableData: [{
                date: '2016-05-02',
                name: '王小虎',
                address: '上海市普陀区金沙江路 1518 弄'
            }, {
                date: '2016-05-04',
                name: '王小虎',
                address: '上海市普陀区金沙江路 1517 弄'
            }, {
                date: '2016-05-01',
                name: '王小虎',
                address: '上海市普陀区金沙江路 1519 弄'
            }, {
                date: '2016-05-03',
                name: '王小虎',
                address: '上海市普陀区金沙江路 1516 弄'
            }]
        }
    },
    methods: {
        // 分页
        handleSizeChange (val) {
            console.log(`每页 ${val} 条`);
        },
        handleCurrentChange (val) {
            console.log(`当前页: ${val}`);
            this.pagenum = val
            this.initData()
        },
    }
}
</script>
<style lang="scss" scoped>
// 按钮
.el-button--primary {
    background-color: rgb(250, 194, 2) !important;
    border: 0;
}

.goods {
    // 筛选
    .filter {
        width: 100%;
        height: 50px;
        margin-bottom: 20px;
        overflow: hidden;
        display: flex;
        justify-content: space-between;
        align-items: center;

        // 搜索框
        .el-input {
            width: 300px;
            float: left;
        }
    }
}
</style>