<template>
    <div class="record" id="app">
        <!-- 日期 -->
        <div class="block">
            <el-date-picker v-model="value2" type="daterange" align="right" unlink-panels range-separator="至"
                start-placeholder="开始日期" end-placeholder="结束日期" :picker-options="pickerOptions">
            </el-date-picker>
            <!-- 搜索 -->
            <div class="filter">
                <el-input placeholder="请输入商品名称或关联单号">
                    <el-button slot="append" icon="el-icon-search"></el-button>
                </el-input>
                <download-excel class="export-excel-wrapper" :data="json_data" :fields="json_fields" name="出库记录导出.xls">
                    <!-- 上面可以自定义自己的样式，还可以引用其他组件button -->
                    <el-button type="primary" round>导出</el-button>
                </download-excel>
            </div>
        </div>

        <!-- 表格 -->
        <el-table :data="tableData" stripe style="width: 100%">
            <el-table-column prop="name" label="商品名称" width="150">
            </el-table-column>

            <el-table-column prop="name" label="出库类型" width="150">
            </el-table-column>

            <el-table-column prop="name" label="出库数量" width="150">
            </el-table-column>

            <el-table-column prop="name" label="成本单价" width="150">
            </el-table-column>

            <el-table-column prop="name" label="操作人" width="150">
            </el-table-column>

            <el-table-column prop="name" label="出库时间" width="150">
            </el-table-column>

            <el-table-column prop="name" label="关联单号" width="160">
            </el-table-column>

            <el-table-column prop="address" align="center" label="操作">
                <template>
                    <el-button type="primary" round>详情</el-button>
                </template>
            </el-table-column>
        </el-table>

        <!-- 分页 -->
        <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange"
            :current-page="currentPage4" :page-sizes="[10, 20, 30, 40]" :page-size="10"
            layout="total, sizes, prev, pager, next, jumper" :total="40" style="float:right;margin-top:15px">
        </el-pagination>
    </div>
</template>
<script>
export default {
    methods: {
        // 分页
        handleSizeChange (val) {
            console.log(`每页 ${val} 条`);
        },
        handleCurrentChange (val) {
            console.log(`当前页: ${val}`);
            this.pagenum = val
            this.initData()
        },
    },
    data () {
        return {
            //分页
            currentPage1: 5,
            currentPage2: 5,
            currentPage3: 5,
            currentPage4: 4,
            // 导出excel
            json_fields: {
                "头部-诊断名称": "name",    //常规字段
                "头部-联系电话": "phone.mobile", //支持嵌套属性
                "头部-损坏区域代码": {
                    field: "phone.landline",
                    //自定义回调函数
                    callback: value => {
                        return `损坏区域代码 - ${value}`;
                    }
                }
            },
            json_data: [
                {
                    name: "损坏的组件一",
                    city: "New York",
                    country: "United States",
                    birthdate: "1978-03-15",
                    phone: {
                        mobile: "1-541-754-3010",
                        landline: "(541) 754-3010"
                    }
                },
                {
                    name: "损坏的组件二",
                    city: "Athens",
                    country: "Greece",
                    birthdate: "1987-11-23",
                    phone: {
                        mobile: "+1 855 275 5071",
                        landline: "(2741) 2621-244"
                    }
                }
            ],
            json_meta: [
                [
                    {
                        " key ": " charset ",
                        " value ": " utf- 8 "
                    }
                ]
            ],
            //   表格
            tableData: [{
                date: '2016-05-02',
                name: '王小虎',
                address: '上海市普陀区金沙江路 1518 弄'
            }, {
                date: '2016-05-04',
                name: '王小虎',
                address: '上海市普陀区金沙江路 1517 弄'
            }, {
                date: '2016-05-01',
                name: '王小虎',
                address: '上海市普陀区金沙江路 1519 弄'
            }, {
                date: '2016-05-03',
                name: '王小虎',
                address: '上海市普陀区金沙江路 1516 弄'
            }],
            // 日期
            pickerOptions: {
                shortcuts: [{
                    text: '最近一周',
                    onClick (picker) {
                        const end = new Date();
                        const start = new Date();
                        start.setTime(start.getTime() - 3600 * 1000 * 24 * 7);
                        picker.$emit('pick', [start, end]);
                    }
                }, {
                    text: '最近一个月',
                    onClick (picker) {
                        const end = new Date();
                        const start = new Date();
                        start.setTime(start.getTime() - 3600 * 1000 * 24 * 30);
                        picker.$emit('pick', [start, end]);
                    }
                }, {
                    text: '最近三个月',
                    onClick (picker) {
                        const end = new Date();
                        const start = new Date();
                        start.setTime(start.getTime() - 3600 * 1000 * 24 * 90);
                        picker.$emit('pick', [start, end]);
                    }
                }]
            },
            value1: '',
            value2: ''
        };
    }
};
</script>
<style lang="scss" scoped>
/deep/ .el-range-editor.is-active,
.el-range-editor.is-active:hover {
    border-color: rgb(250, 194, 2) !important;
}
// 按钮
.el-button--primary {
    background-color: rgb(250, 194, 2) !important;
    border: 0;
}
.record {
    .block {
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    // 筛选
    .filter {
        width: 400px;
        height: 50px;
        overflow: hidden;
        display: flex;
        justify-content: space-between;
        align-items: center;

        // 搜索框
        .el-input {
            width: 300px;
            float: left;
        }
    }
}
</style>