<template>
    <div class="goods" id="app">
        <el-tabs v-model="activeName" type="card" @tab-click="handleClick">
            <!-- 商品管理 -->
            <el-tab-pane label="商品管理" name="first">
                <!-- 搜索 -->
                <div class="filter">
                    <el-input placeholder="请输入商品名称">
                        <el-button slot="append" icon="el-icon-search"></el-button>
                    </el-input>
                    <div class="button">
                        <el-button type="primary" round>新增商品</el-button>
                        <el-button type="primary" round>导出</el-button>
                    </div>
                </div>
                <!-- 表格 -->
                <el-table ref="multipleTable" :data="tableData" tooltip-effect="dark" style="width: 100%" stripe
                    @selection-change="handleSelectionChange">
                    <el-table-column type="selection" width="55">
                    </el-table-column>

                    <el-table-column prop="name" label="商品名称" width="250">
                    </el-table-column>

                    <el-table-column label="零售价" width="150">
                        <template slot-scope="scope">{{ scope.row.date }}</template>
                    </el-table-column>

                    <el-table-column label="会员价" width="150">
                        <template slot-scope="scope">{{ scope.row.date }}</template>
                    </el-table-column>

                    <el-table-column prop="name" label="商品分类" width="150">
                    </el-table-column>

                    <el-table-column prop="name" label="库存" width="150">
                    </el-table-column>

                    <el-table-column prop="name" align="center" label="操作">
                        <template slot-scope="scope">
                            <el-button type="primary" icon="el-icon-edit" circle></el-button>
                            <el-button type="danger" icon="el-icon-delete" @click="handleDel(scope.row.goods_id)"
                                circle></el-button>
                        </template>
                    </el-table-column>
                </el-table>

                <!-- 分页 -->
                <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange"
                    :current-page="currentPage4" :page-sizes="[10, 20, 30, 40]" :page-size="10"
                    layout="total, sizes, prev, pager, next, jumper" :total="40" style="float:right;margin-top:15px">
                </el-pagination>
            </el-tab-pane>
            <!-- 分类管理 -->
            <!-- <el-tab-pane label="分类管理" name="second">配置管理</el-tab-pane> -->
            <!-- 品牌管理 -->
            <el-tab-pane label="品牌管理" name="third">
                <!-- 搜索 -->
                <div class="filter">
                    <el-input placeholder="请输入品牌名称">
                        <el-button slot="append" icon="el-icon-search"></el-button>
                    </el-input>
                    <div class="button">
                        <el-button type="primary" round>新增品牌</el-button>
                    </div>
                </div>
                <!-- 表格 -->
                <el-table :data="tableData" stripe style="width: 100%">
                    <el-table-column prop="name" label="品牌名称" width="1000">
                    </el-table-column>

                    <el-table-column prop="name" align="center" label="操作">
                        <template slot-scope="scope">
                            <el-button type="primary" icon="el-icon-edit" circle></el-button>
                            <el-button type="danger" icon="el-icon-delete" @click="handleDel(scope.row.goods_id)"
                                circle></el-button>
                        </template>
                    </el-table-column>
                </el-table>
                <!-- 分页 -->
                <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange"
                    :current-page="currentPage4" :page-sizes="[10, 20, 30, 40]" :page-size="10"
                    layout="total, sizes, prev, pager, next, jumper" :total="40" style="float:right;margin-top:15px">
                </el-pagination>
            </el-tab-pane>
            <!-- 供应商管理 -->
            <el-tab-pane label="供应商管理" name="fourth">
                <!-- 搜索 -->
                <div class="filter">
                    <el-input placeholder="请输入供应商名称">
                        <el-button slot="append" icon="el-icon-search"></el-button>
                    </el-input>
                    <div class="button">
                        <el-button type="primary" round>新增供应商</el-button>
                    </div>
                </div>
                <!-- 表格 -->
                <el-table :data="tableData" stripe style="width: 100%">
                    <el-table-column prop="name" label="供应商名称" width="120">
                    </el-table-column>

                    <el-table-column prop="name" label="公司电话" width="150">
                    </el-table-column>

                    <el-table-column prop="name" label="联系人" width="120">
                    </el-table-column>

                    <el-table-column prop="name" label="联系电话" width="150">
                    </el-table-column>

                    <el-table-column prop="name" label="开户行" width="120">
                    </el-table-column>

                    <el-table-column prop="name" label="户名" width="120">
                    </el-table-column>

                    <el-table-column prop="name" label="银行账户" width="150">
                    </el-table-column>

                    <el-table-column prop="name" label="添加时间" width="150">
                    </el-table-column>

                    <el-table-column prop="name" align="center" label="操作">
                        <template slot-scope="scope">
                            <el-button type="primary" icon="el-icon-edit" circle></el-button>
                            <el-button type="danger" icon="el-icon-delete" @click="handleDel(scope.row.goods_id)"
                                circle></el-button>
                        </template>
                    </el-table-column>
                </el-table>
                <!-- 分页 -->
                <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange"
                    :current-page="currentPage4" :page-sizes="[10, 20, 30, 40]" :page-size="10"
                    layout="total, sizes, prev, pager, next, jumper" :total="40" style="float:right;margin-top:15px">
                </el-pagination>
            </el-tab-pane>
        </el-tabs>
    </div>
</template>
<script>
export default {
    data () {
        return {
            //分页
            currentPage1: 5,
            currentPage2: 5,
            currentPage3: 5,
            currentPage4: 4,
            activeName: 'first',
            //   表格
            tableData: [{
                date: '2016-05-03',
                name: '王小虎',
            }, {
                date: '2016-05-02',
                name: '王小虎',
            }, {
                date: '2016-05-04',
                name: '王小虎',
            }, {
                date: '2016-05-01',
                name: '王小虎',
            }, {
                date: '2016-05-08',
                name: '王小虎',
            }, {
                date: '2016-05-06',
                name: '王小虎',
            }, {
                date: '2016-05-07',
                name: '王小虎',
            }],
        };
    },
    methods: {
        handleClick (tab, event) {
            console.log(tab, event);
        },
        // 分页
        handleSizeChange (val) {
            console.log(`每页 ${val} 条`);
        },
        handleCurrentChange (val) {
            console.log(`当前页: ${val}`);
            this.pagenum = val
            this.initData()
        },
    }
};
</script>
<style lang="scss" scoped>
// 标签页
/deep/ .el-tabs__item.is-active {
    color: rgb(250, 194, 2) !important;
}
/deep/ .el-tabs__item:hover {
    color: rgb(250, 194, 2) !important;
}
// 按钮
.el-button--primary {
    background-color: rgb(250, 194, 2) !important;
    border: 0;
}
// 多选框
/deep/ .el-checkbox__input.is-checked .el-checkbox__inner,
.el-checkbox__input.is-indeterminate .el-checkbox__inner {
    background-color: rgb(250, 194, 2) !important;
}
/deep/ .el-checkbox__inner {
    border-color: rgb(250, 194, 2) !important;
}
.goods {
    // 筛选
    .filter {
        width: 100%;
        height: 50px;
        margin-bottom: 20px;
        overflow: hidden;
        display: flex;
        justify-content: space-between;
        align-items: center;

        // 搜索框
        .el-input {
            width: 300px;
            float: left;
        }
    }
}
</style>