<template>
    <div class="living" id="app">
        <el-tabs v-model="activeName" type="card" @tab-click="handleClick">
            <el-tab-pane label="活体管理" name="first">
                <!-- 搜索 -->
                <div class="filter">
                    <el-input placeholder="请输入活体名称">
                        <el-button slot="append" icon="el-icon-search"></el-button>
                    </el-input>
                    <div class="button">
                        <el-button type="primary" round>新增活体</el-button>
                        <el-button type="primary" round>导出</el-button>
                    </div>
                </div>
                <!-- 表格 -->
                <el-table :data="tableData" stripe style="width: 100%">
                    <el-table-column prop="name" label="活体名称" width="150">
                    </el-table-column>

                    <el-table-column prop="name" label="活体种类" width="150">
                    </el-table-column>

                    <el-table-column prop="name" label="进货价" width="150">
                    </el-table-column>

                    <el-table-column prop="name" label="性别" width="150">
                    </el-table-column>

                    <el-table-column prop="name" label="零售价" width="150">
                    </el-table-column>

                    <el-table-column prop="name" label="到店日期" width="100">
                    </el-table-column>

                    <el-table-column prop="name" label="活体状态" width="100">
                    </el-table-column>

                    <el-table-column align="center" label="操作" width="200">
                        <template slot-scope="scope">
                            <el-button type="primary" icon="el-icon-edit" circle></el-button>
                            <el-button type="danger" icon="el-icon-delete" @click="handleDel(scope.row.goods_id)"
                                circle></el-button>
                        </template>
                    </el-table-column>
                </el-table>
                <!-- 分页 -->
                <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange"
                    :current-page="currentPage4" :page-sizes="[10, 20, 30, 40]" :page-size="10"
                    layout="total, sizes, prev, pager, next, jumper" :total="40" style="float:right;margin-top:15px">
                </el-pagination>
            </el-tab-pane>
            <el-tab-pane label="品种管理" name="second">
                <!-- 搜索 -->
                <div class="filter">
                    <el-input placeholder="请输入品种名称">
                        <el-button slot="append" icon="el-icon-search"></el-button>
                    </el-input>
                    <div class="button">
                        <el-button type="primary" round>新增品种</el-button>
                    </div>
                </div>
                <!-- 表格 -->
                <el-table :data="tableData" stripe style="width: 100%">
                    <el-table-column prop="name" label="品种名称" width="500">
                    </el-table-column>

                    <el-table-column prop="name" label="活体数量" width="300">
                    </el-table-column>

                    <el-table-column align="center" label="操作" width="200">
                        <template slot-scope="scope">
                            <el-button type="primary" icon="el-icon-edit" circle></el-button>
                            <el-button type="danger" icon="el-icon-delete" @click="handleDel(scope.row.goods_id)"
                                circle></el-button>
                        </template>
                    </el-table-column>
                </el-table>
                <!-- 分页 -->
                <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange"
                    :current-page="currentPage4" :page-sizes="[10, 20, 30, 40]" :page-size="10"
                    layout="total, sizes, prev, pager, next, jumper" :total="40" style="float:right;margin-top:15px">
                </el-pagination>
            </el-tab-pane>
        </el-tabs>
    </div>
</template>
<script>
export default {
    data () {
        return {
            //分页
            currentPage1: 5,
            currentPage2: 5,
            currentPage3: 5,
            currentPage4: 4,
            activeName: 'first',
            // 表格
            tableData: [{
                date: '2016-05-02',
                name: '王小虎',
            }, {
                date: '2016-05-04',
                name: '王小虎',
            }, {
                date: '2016-05-01',
                name: '王小虎',
            }, {
                date: '2016-05-03',
                name: '王小虎',
            }]
        }
    },
    methods: {
        handleClick (tab, event) {
            console.log(tab, event);
        },
        // 分页
        handleSizeChange (val) {
            console.log(`每页 ${val} 条`);
        },
        handleCurrentChange (val) {
            console.log(`当前页: ${val}`);
            this.pagenum = val
            this.initData()
        },
    }
}
</script>
<style lang="scss" scoped>
// 标签页
/deep/ .el-tabs__item.is-active {
    color: rgb(250, 194, 2) !important;
}
/deep/ .el-tabs__item:hover {
    color: rgb(250, 194, 2) !important;
}
// 按钮
.el-button--primary {
    background-color: rgb(250, 194, 2) !important;
    border: 0;
}

.living {
    // 筛选
    .filter {
        width: 100%;
        height: 50px;
        margin-bottom: 20px;
        overflow: hidden;
        display: flex;
        justify-content: space-between;
        align-items: center;

        // 搜索框
        .el-input {
            width: 300px;
            float: left;
        }
    }
}
</style>