<template>
    <div id="app">
        <!-- 标签页 -->
        <el-tabs v-model="activeName" type="card" @tab-click="handleClick">
            <!-- 收入概况页 -->
            <el-tab-pane label="收入概况" name="first">
                <!-- 日期选择器 -->
                <div class="block">
                    <el-date-picker v-model="value2" type="daterange" align="right" unlink-panels range-separator="至"
                        start-placeholder="开始日期" end-placeholder="结束日期" :picker-options="pickerOptions">
                    </el-date-picker>
                    <el-button round style="background:#fac202;margin-left:30px;">查询</el-button>
                </div>
                <!-- 表格 -->
                <el-table :data="tableData" style="margin-top:20px;">
                    <el-table-column label="收入概况表">
                        <el-table-column prop="type" label="支付类型" width="100">
                        </el-table-column>
                        <el-table-column label="收银台">
                            <el-table-column prop="in" label="收入" width="80">
                            </el-table-column>
                            <el-table-column prop="back" label="退款" width="80">
                            </el-table-column>
                        </el-table-column>
                        <el-table-column label="记账本">
                            <el-table-column prop="in" label="收入" width="80">
                            </el-table-column>
                            <el-table-column prop="back" label="退款" width="80">
                            </el-table-column>
                        </el-table-column>
                        <el-table-column label="微信商城">
                            <el-table-column prop="in" label="收入" width="80">
                            </el-table-column>
                            <el-table-column prop="back" label="退款" width="80">
                            </el-table-column>
                        </el-table-column>
                        <el-table-column label="会员">
                            <el-table-column prop="in" label="收入" width="80">
                            </el-table-column>
                            <el-table-column prop="back" label="退款" width="80">
                            </el-table-column>
                        </el-table-column>
                        <el-table-column label="寄养预存">
                            <el-table-column prop="in" label="收入" width="80">
                            </el-table-column>
                            <el-table-column prop="back" label="退款" width="80">
                            </el-table-column>
                        </el-table-column>
                        <el-table-column label="服务押金">
                            <el-table-column prop="in" label="收入" width="80">
                            </el-table-column>
                            <el-table-column prop="back" label="退款" width="80">
                            </el-table-column>
                        </el-table-column>
                        <el-table-column prop="sum" label="合计" width="100">
                        </el-table-column>
                    </el-table-column>
                </el-table>
            </el-tab-pane>
            <!-- 资产报告页 -->
            <el-tab-pane label="资产报告" name="second">
                <el-table :data="tableData" border height="200" :summary-method="getSummaries" show-summary
                    style="width: 30%; margin-top: 20px">
                    <el-table-column prop="id" label="库存资产" width="180">
                        <el-table-column prop="type" label="库存分类">
                        </el-table-column>
                        <el-table-column prop="amount" label="库存成本总价">
                        </el-table-column>
                    </el-table-column>
                </el-table>
                <div>
                    <div class="pie">
                        <div id="pie1">
                            <!-- 为 ECharts 准备一个具备大小（宽高）的 DOM -->
                            <div id="main1" style="float:left;width:100%;height: 300px"></div>
                        </div>
                        <div id="pie2">
                            <div id="main2" style="float:left;width:100%;height: 300px"></div>
                        </div>
                    </div>
                </div>
            </el-tab-pane>
            <!-- 利润报告页 -->
            <el-tab-pane label="利润报告" name="third">
                <!-- 日期选择器 -->
                <div class="block">
                    <el-date-picker v-model="value2" type="daterange" align="right" unlink-panels range-separator="至"
                        start-placeholder="开始日期" end-placeholder="结束日期" :picker-options="pickerOptions">
                    </el-date-picker>
                    <el-button round style="background:#fac202;margin-left:30px;">查询</el-button>
                </div>
                <!-- 表格 -->
                <el-table :data="tableData" border height="200" :summary-method="getSummaries" show-summary
                    style="width: 100%; margin-top: 20px">
                    <el-table-column prop="id" label="ID" width="180">
                    </el-table-column>
                    <el-table-column prop="name" label="姓名">
                    </el-table-column>
                    <el-table-column prop="amount1" label="数值 1（元）">
                    </el-table-column>
                    <el-table-column prop="amount2" label="数值 2（元）">
                    </el-table-column>
                    <el-table-column prop="amount3" label="数值 3（元）">
                    </el-table-column>
                </el-table>
            </el-tab-pane>

        </el-tabs>
    </div>

</template>

<script>
let echarts = require('echarts/lib/echarts')
// 引入饼状图组件
require('echarts/lib/chart/pie')
// 引入提示框和title组件
require('echarts/lib/component/tooltip')
require('echarts/lib/component/title')
export default {
    created () {
    },
    mounted () {
        this.initData();
    },
    data () {
        return {
            activeName: 'first',
            // 日期选择器
            pickerOptions: {
                shortcuts: [{
                    text: '本周',
                    onClick (picker) {
                        const end = new Date();
                        const start = new Date();
                        start.setTime(start.getTime() - 3600 * 1000 * 24 * 7);
                        picker.$emit('pick', [start, end]);
                    }
                }, {
                    text: '本月',
                    onClick (picker) {
                        const end = new Date();
                        const start = new Date();
                        start.setTime(start.getTime() - 3600 * 1000 * 24 * 30);
                        picker.$emit('pick', [start, end]);
                    }
                }, {
                    text: '今年',
                    onClick (picker) {
                        const end = new Date();
                        const start = new Date();
                        start.setTime(start.getTime() - 3600 * 1000 * 24 * 365);
                        picker.$emit('pick', [start, end]);
                    }
                }]
            },
            value1: '',
            value2: '',
            // 表格数据
            tableData: []
        };
    },
    methods: {
        handleClick (tab, event) {
            console.log(tab, event);
        },
        //   合计算法
        getSummaries (param) {
            const { columns, data } = param;
            const sums = [];
            columns.forEach((column, index) => {
                if (index === 0) {
                    sums[index] = '总价';
                    return;
                }
                const values = data.map(item => Number(item[column.property]));
                if (!values.every(value => isNaN(value))) {
                    sums[index] = values.reduce((prev, curr) => {
                        const value = Number(curr);
                        if (!isNaN(value)) {
                            return prev + curr;
                        } else {
                            return prev;
                        }
                    }, 0);
                    sums[index] += ' 元';
                } else {
                    sums[index] = 'N/A';
                }
            });

            return sums;
        },
        //初始化数据
        initData () {
            // 基于准备好的dom，初始化echarts实例
            var myChart = echarts.init(document.getElementById('main1'));
            // 绘制图表
            myChart.setOption({
                title: {
                    text: '某站点用户访问来源',//主标题
                    subtext: '纯属虚构',//副标题
                    x: 'center',//x轴方向对齐方式
                },
                tooltip: {
                    trigger: 'item',
                    formatter: "{a} <br/>{b} : {c} ({d}%)"
                },
                legend: {
                    orient: 'vertical',
                    bottom: 'bottom',
                    data: ['直接访问', '邮件营销', '联盟广告', '视频广告', '搜索引擎']
                },
                series: [
                    {
                        name: '访问来源',
                        type: 'pie',
                        radius: '55%',
                        center: ['50%', '60%'],
                        data: [
                            { value: 335, name: '直接访问' },
                            { value: 310, name: '邮件营销' },
                            { value: 234, name: '联盟广告' },
                            { value: 135, name: '视频广告' },
                            { value: 1548, name: '搜索引擎' }
                        ],
                        itemStyle: {
                            emphasis: {
                                shadowBlur: 10,
                                shadowOffsetX: 0,
                                shadowColor: 'rgba(0, 0, 0, 0.5)'
                            }
                        }
                    }
                ]
            });
        },
    }
};
</script>

<style lang="scss" scoped>
// 标签页
/deep/ .el-tabs__item.is-active {
    color: rgb(250, 194, 2) !important;
}
/deep/ .el-tabs__item:hover {
    color: rgb(250, 194, 2) !important;
}
</style>