<template>
    <div id="app">
        <!-- 标签页 -->
        <el-tabs v-model="activeName" type="card" @tab-click="handleClick">
            <!-- 会员卡页 -->
            <el-tab-pane label="会员卡" name="first">
                <!-- 日期选择器 -->
                <div class="block">
                    <el-date-picker v-model="value2" type="daterange" align="right" unlink-panels range-separator="至"
                        start-placeholder="开始日期" end-placeholder="结束日期" :picker-options="pickerOptions">
                    </el-date-picker>
                    <!-- 选择器 -->
                    <div class="block1">
                        <el-cascader v-model="value" :options="options" @change="handleChange" placeholder="请选择会员卡">
                        </el-cascader>
                    </div>
                    <el-input placeholder="请输入会员姓名/手机号查询" v-model="input4" style="width:300px;margin-left:20px;">
                        <i slot="prefix" class="el-input__icon el-icon-search"></i>
                    </el-input>
                    <el-button round style="background:#fac202;margin-left:30px;">查询</el-button>
                </div>
                <!-- 钱 -->
                <div class="money">
                    充值总计：<span></span>元
                </div>
                <!-- 表格 -->
                <el-table :data="tableData" border style="width: 100%">
                    <el-table-column prop="" label="会员卡名称">
                    </el-table-column>
                    <el-table-column prop="" label="充值类型">
                    </el-table-column>
                    <el-table-column prop="" label="会员姓名">
                    </el-table-column>
                    <el-table-column prop="" label="会员手机号">
                    </el-table-column>
                    <el-table-column prop="" label="充值金额">
                    </el-table-column>
                    <el-table-column prop="" label="支付方式">
                    </el-table-column>
                    <el-table-column prop="" label="赠送项目">
                    </el-table-column>
                    <el-table-column prop="" label="收银员">
                    </el-table-column>
                    <el-table-column prop="" label="充值时间">
                    </el-table-column>
                </el-table>
                <!-- 分页 -->
                <div class="block2">
                    <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange"
                        :current-page="currentPage4" :page-sizes="[100, 200, 300, 400]" :page-size="100"
                        layout="total, sizes, prev, pager, next, jumper" :total="400">
                    </el-pagination>
                </div>
            </el-tab-pane>
            <!-- 次卡页 -->
            <el-tab-pane label="次卡" name="second">
                <!-- 日期选择器 -->
                <div class="block">
                    <el-date-picker v-model="value2" type="daterange" align="right" unlink-panels range-separator="至"
                        start-placeholder="开始日期" end-placeholder="结束日期" :picker-options="pickerOptions">
                    </el-date-picker>
                    <!-- 选择器 -->
                    <div class="block1">
                        <el-cascader v-model="value" :options="options" @change="handleChange" placeholder="请选择次卡">
                        </el-cascader>
                    </div>
                    <el-input placeholder="请输入会员姓名/手机号查询" v-model="input3" style="width:300px;margin-left:20px;">
                        <i slot="prefix" class="el-input__icon el-icon-search"></i>
                    </el-input>
                    <el-button round style="background:#fac202;margin-left:30px;">查询</el-button>
                </div>
                <!-- 钱 -->
                <div class="money">
                    充值总计：<span></span>元
                </div>
                <!-- 表格 -->
                <el-table :data="tableData" border style="width: 100%">
                    <el-table-column prop="" label="次卡名称">
                    </el-table-column>
                    <el-table-column prop="" label="可用项目">
                    </el-table-column>
                    <el-table-column prop="" label="会员姓名">
                    </el-table-column>
                    <el-table-column prop="" label="会员手机号">
                    </el-table-column>
                    <el-table-column prop="" label="实付金额">
                    </el-table-column>
                    <el-table-column prop="" label="支付方式">
                    </el-table-column>
                    <el-table-column prop="" label="收银员">
                    </el-table-column>
                    <el-table-column prop="" label="开卡时间">
                    </el-table-column>
                </el-table>
                <!-- 分页 -->
                <div class="block2">
                    <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange"
                        :current-page="currentPage4" :page-sizes="[100, 200, 300, 400]" :page-size="100"
                        layout="total, sizes, prev, pager, next, jumper" :total="400">
                    </el-pagination>
                </div>
            </el-tab-pane>
        </el-tabs>
    </div>

</template>

<script>

export default {

    data () {
        return {
            activeName: 'first',
            // 日期选择器
            pickerOptions: {
                shortcuts: [{
                    text: '本周',
                    onClick (picker) {
                        const end = new Date();
                        const start = new Date();
                        start.setTime(start.getTime() - 3600 * 1000 * 24 * 7);
                        picker.$emit('pick', [start, end]);
                    }
                }, {
                    text: '本月',
                    onClick (picker) {
                        const end = new Date();
                        const start = new Date();
                        start.setTime(start.getTime() - 3600 * 1000 * 24 * 30);
                        picker.$emit('pick', [start, end]);
                    }
                }, {
                    text: '今年',
                    onClick (picker) {
                        const end = new Date();
                        const start = new Date();
                        start.setTime(start.getTime() - 3600 * 1000 * 24 * 365);
                        picker.$emit('pick', [start, end]);
                    }
                }]
            },
            value1: '',
            value2: '',
            // 选择器数据
            value: [],
            options: [{
                value: 'qizhe',
                label: '充2000洗护7折',
            }, {
                value: 'bazhe',
                label: '充500洗护8折',
            }],
            currentPage1: 5,
            currentPage2: 5,
            currentPage3: 5,
            currentPage4: 4,
            input4: '',
            input3: '',
        };
    },
    methods: {
        handleClick (tab, event) {
            console.log(tab, event);
        },
        // 选择器触发方式
        handleChange (value) {
            console.log(value);
        },
        // 分页
        handleSizeChange (val) {
            console.log(`每页 ${val} 条`);
        },
        handleCurrentChange (val) {
            console.log(`当前页: ${val}`);
        },
    }
}


</script>

<style lang="scss" scoped>
// 标签页
/deep/ .el-tabs__item.is-active {
    color: rgb(250, 194, 2) !important;
}
/deep/ .el-tabs__item:hover {
    color: rgb(250, 194, 2) !important;
}
.block {
    display: flex;
}
.block1 {
    margin-left: 20px;
}
// 分页
.block2 {
    margin-top: 20px;
    text-align: center;
}
.money {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 14px;
    color: #926a61;
}
</style>  