<template>
    <div id="app">
        <header>
            <el-input placeholder="请输入会员姓名/手机号码" v-model="input" clearable></el-input>
            <el-button type="primary" round>查询</el-button>
            <el-button type="primary" round>新增会员卡模板</el-button>
        </header>

        <!-- 表格 -->
        <el-table :data="tableData" stripe style="width: 100%; padding-top:20px;margin-bottom:20px;">
            <el-table-column prop="name" label="会员卡名称"></el-table-column>
            <el-table-column prop="date" label="充值金额"></el-table-column>
            <el-table-column prop="address" label="适用范围"></el-table-column>
            <el-table-column prop="date" label="有效期"></el-table-column>
            <el-table-column prop="date" label="备注"></el-table-column>
            <el-table-column prop="date" label="操作" width="300px">
                <el-button type="primary" round size="small">详情</el-button>
                <el-button type="primary" round size="small">编辑</el-button>
                <el-button type="primary" round size="small" style="background-color:white;border:1px solid #e2e2e2">删除
                </el-button>
            </el-table-column>
        </el-table>
        <!-- 分页 -->
        <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange"
            :current-page="currentPage4" :page-sizes="[10, 20, 30, 40]" :page-size="10"
            layout="total, sizes, prev, pager, next, jumper" :total="40" style="float:right;">
        </el-pagination>
    </div>
</template>
<script>
export default {
    data () {
        return {
            input: '',
            //分页
            currentPage1: 5,
            currentPage2: 5,
            currentPage3: 5,
            currentPage4: 4,
            //表格
            tableData: [{
                date: '2016-05-02',
                name: '王小虎',
                address: '1518'
            }, {
                date: '2016-05-04',
                name: '王小虎',
                address: '1517'
            }, {
                date: '2016-05-01',
                name: '王小虎',
                address: '1519'
            }, {
                date: '2016-05-03',
                name: '王小虎',
                address: '1516'
            }],
        }
    },
    methods: {
        //分页
        handleSizeChange (val) {
            console.log(`每页 ${val} 条`);
        },
        handleCurrentChange (val) {
            console.log(`当前页: ${val}`);
        },
    }
}
</script>
<style lang="scss" scoped>
header {
    .el-input {
        float: left;
        width: 400px;
    }
    .el-button {
        float: left;
        margin-left: 15px;
    }
}
.el-button {
    background-color: #fadc4b;
    border: none;
    color: #333336;
    font-size: 14px;
}
</style>