<template>
    <div id="app">
        <!-- 店员管理 -->
        <header>
            <el-input placeholder="请输入店员姓名/店员账号" v-model="input" clearable></el-input>
            <el-button type="primary" round>查询</el-button>
            <el-button type="primary" round>新增店员</el-button>
        </header>
        <!-- 表格 -->
        <el-table :data="tableData" stripe style="width: 100%">
            <el-table-column prop="date" label="店铺名称" width="180"></el-table-column>
            <el-table-column prop="name" label="主店/分店" width="180"></el-table-column>
            <el-table-column prop="address" label="联系电话"></el-table-column>
            <el-table-column prop="address" label="地址"></el-table-column>
            <el-table-column prop="address" label="创建时间"></el-table-column>
            <el-table-column prop="address" label="操作" width="300">
                <el-button type="primary" round size="small">编辑</el-button>
                <el-button type="primary" round size="small" style="background:white;border:1px solid #dedede">
                    清空
                </el-button>
                <el-button type="primary" round size="small" style="background:white;border:1px solid #dedede">
                    删除
                </el-button>
            </el-table-column>
        </el-table>
        <!-- 分页 -->
        <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange"
            :current-page="currentPage4" :page-sizes="[10, 20, 30, 40]" :page-size="10"
            layout="total, sizes, prev, pager, next, jumper" :total="40" style="float:right;margin-top:10px">
        </el-pagination>
        </el-tab-pane>
    </div>
</template>

<script>
export default {
    data () {
        return {
            //分页
            currentPage1: 5,
            currentPage2: 5,
            currentPage3: 5,
            currentPage4: 4,
            //表格
            tableData: [{
                date: '2016-05-02',
                name: '王小虎',
                address: '上海市 1518 弄'
            }, {
                date: '2016-05-04',
                name: '王小虎',
                address: '上海市1517 弄'
            }, {
                date: '2016-05-01',
                name: '王小虎',
                address: '上海市 1519 弄'
            }, {
                date: '2016-05-03',
                name: '王小虎',
                address: '上海市1516 弄'
            }],
            //输入框
            input: '',
            //标签页
            activeName: 'first',
        };
    },
    methods: {
        handleClick (tab, event) {
            console.log(tab, event);
        }
    }
}
</script>

<style lang="scss" scoped>
/deep/ .el-tabs__item.is-active {
    color: rgb(250, 194, 2) !important;
}
/deep/ .el-tabs__item:hover {
    color: rgb(250, 194, 2) !important;
}
header {
    margin-top: 15px;
    .el-input {
        width: 300px;
    }
    .el-button {
        margin-left: 20px;
    }
}
.el-button {
    background-color: #fadc4b;
    font-size: 14px;
    border: none;
    color: #333336;
}
.el-table {
    margin-top: 20px;
}
</style>