<template>
    <div id="app">
        <div class="tabs">
            <el-tabs :tab-position="tabPosition" style="height: 400px;">
                <el-tab-pane label="收银台设置">
                    <h3>收银台设置</h3>
                    <div>
                        <p>会员结账是否需要输入会员密码</p>
                        <el-radio v-model="radio" label="1">是</el-radio>
                        <el-radio v-model="radio" label="2">否</el-radio>
                    </div>
                    <div>
                        <p>是否支持会员负数结账</p>
                        <el-radio v-model="radio" label="1">是</el-radio>
                        <el-radio v-model="radio" label="2">否</el-radio>
                    </div>
                    <div>
                        <p>是否启用会员价</p>
                        <el-radio v-model="radio" label="1">是</el-radio>
                        <el-radio v-model="radio" label="2">否</el-radio>
                    </div>
                </el-tab-pane>
                <el-tab-pane label="订单管理设置">
                    <h3>订单管理设置</h3>
                    <div>
                        <p>撤销订单是否需要验证码授权</p>
                        <el-radio v-model="radio" label="1">是</el-radio>
                        <el-radio v-model="radio" label="2">否</el-radio>
                    </div>
                </el-tab-pane>
                <el-tab-pane label="寄养设置">
                    <h3>寄养设置</h3>
                    <div>
                        <p>寄养模式</p>
                        <el-radio v-model="radioa" label="1">列表模式</el-radio>
                        <el-radio v-model="radioa" label="2">酒店式模式</el-radio>
                    </div>
                    <div>
                        <p>寄养天数计算方式</p>
                        <el-radio v-model="radio" label="1">过夜算一天</el-radio>
                        <el-radio v-model="radio" label="2">24小时算一天(不足24小时算一天)</el-radio>
                    </div>
                </el-tab-pane>
                <el-tab-pane label="库存设置">
                    <h3>库存设置</h3>
                    <div>
                        <p>新零售库存同步</p>
                        <el-radio v-model="radio" label="1">是</el-radio>
                        <el-radio v-model="radio" label="2">否</el-radio>
                    </div>
                </el-tab-pane>
                <el-tab-pane label="短信设置(发送至会员)">
                    <h3>短信设置(发送至会员)</h3>
                    <div>
                        <p>收银默认发送短信</p>
                        <el-radio v-model="radio" label="1">是</el-radio>
                        <el-radio v-model="radio" label="2">否</el-radio>
                        <el-radio v-model="radio" label="3">发送详情</el-radio>
                    </div>
                    <div>
                        <p>开卡默认发送短信</p>
                        <el-radio v-model="radio" label="1">是</el-radio>
                        <el-radio v-model="radio" label="2">否</el-radio>
                    </div>
                    <div>
                        <p>充值默认发送短信</p>
                        <el-radio v-model="radio" label="1">是</el-radio>
                        <el-radio v-model="radio" label="2">否</el-radio>
                    </div>
                    <div>
                        <p>订单页撤单/退货默认发送短信</p>
                        <el-radio v-model="radio" label="1">是</el-radio>
                        <el-radio v-model="radio" label="2">否</el-radio>
                    </div>
                    <div>
                        <p>提醒自动发送短信</p>
                        <el-radio v-model="radio" label="1">是</el-radio>
                        <el-radio v-model="radio" label="2">否</el-radio>
                    </div>
                </el-tab-pane>
                <el-tab-pane label="提成设置">
                    <h3>提成设置</h3>
                    <div>
                        <p>店员提成计算方式</p>
                        <el-radio v-model="radioa" label="1">按营业额计算</el-radio>
                        <el-radio v-model="radioa" label="2">按产品毛利计算</el-radio>
                    </div>
                    <div>
                        <p>服务提成计算方式</p>
                        <el-radio v-model="radio" label="1">按零售价计算</el-radio>
                        <el-radio v-model="radio" label="2">按折后价计算</el-radio>
                    </div>
                </el-tab-pane>
            </el-tabs>
        </div>
        <div class="table">

        </div>
    </div>
</template>

<script>
export default {
    data () {
        return {
            //标签页位置
            tabPosition: 'right',
            radio: '2',
            radioa: '1',
        };
    }
};
</script>

<style lang="scss" scoped>
.tabs {
    .el-tabs {
        h3 {
            margin-bottom: 20px;
            color: #333336;
        }
        p {
            margin-top: 20px;
        }
        .el-radio {
            margin-top: 15px;
        }
    }
}
</style>